{% extends "/components/layouts/standard.html" %}

{% macro Title %}Organize Your Life{% end %}

{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Content %}
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container pt-4">
            <h1>Organize Your Life, One Task at a Time</h1>
            <p>The simple, intuitive, and beautiful to-do list app designed to help you stay focused and achieve your goals.</p>
            <a href="{{ url("todos") }}" class="btn btn-light">Get Started - It's Free</a>
            <div class="hero-image-wrapper">
                 <!-- <img src="{{ url("img/check-list.png") }}" class="hero-image" alt="TodoApp Screenshot"> -->
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="features-section">
        <div class="container pb-5">
            <div class="section-title">
                <h2>Why You'll Love TodoApp</h2>
                <p>Focus on what matters most with our powerful features.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 d-flex">
                    <div class="feature-card">
                        <div class="feature-icon"><i class="fas fa-tasks"></i></div>
                        <h3>Easy Task Management</h3>
                        <p>Quickly add, organize, and prioritize your tasks with a simple and clean interface.</p>
                    </div>
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="feature-card">
                        <div class="feature-icon"><i class="fa fa-hourglass-start"></i></div>
                        <h3>Task Due Date</h3>
                        <p>Keep track of tasks due dates, this will allow you to complete task on time.</p>
                    </div>
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="feature-card">
                        <div class="feature-icon"><i class="fas fa-chart-line"></i></div>
                        <h3>Track Your Progress</h3>
                        <p>Visualize your productivity and stay motivated with insightful charts and progress reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% end %}

{% macro Footer %}
    {{ render "/components/footer.html" }}
{% end %}