
{% extends "/components/layouts/standard.html" %}

{% macro Title %}Create Task{% end %}

{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Content %}
    <!-- Main App Container -->
    <div class="app-container">
        <h1>Create Tasks</h1>
        
        <!-- To-Do Form -->
        <form id="todo-form" method="post" action="{{ url("todos") }}">

            <!-- Title Input -->
            <div class="mb-3">
                <label for="todo-title" class="form-label">Task Title</label>
                <input name="title"
                       type="text"
                       class="form-control {% if has(`title`) %}is-invalid{% end %}"
                       id="todo-title"
                       placeholder="e.g., Buy groceries"
                       value="{{ old("title") }}">
                <div class="invalid-feedback"> {{ error("title") }}</div>
            </div>

            <!-- Due Date Input -->
            <!-- <div class="mb-3">
                <label for="due_date" class="form-label">Due Date</label>
                <input name="due_date"
                       type="text"
                       class="form-control {% if has(`due_date`) %}is-invalid{% end %}"
                       id="due_date"
                       value="{{ old("due_date") }}">
                <div class="invalid-feedback"> {{ error("description") }}</div>
            </div> -->

            <!-- Description Input -->
            <div class="mb-3">
                <label for="todo-description" class="form-label">Description</label>
                <textarea name="description"
                          class="form-control {% if has(`description`) %}is-invalid{% end %}"
                          id="todo-description"
                          rows="3"
                          placeholder="e.g., Milk, bread, eggs...">{{ old("description") }}</textarea>
                <div class="invalid-feedback"> {{ error("description") }}</div>
            </div>

            <!-- Create Button -->
            <button type="submit" class="btn btn-primary">Add Task</button>

        </form>
    </div>
{% end %}

{% macro Footer %}
    {{ render "/components/footer.html" }}
{% end %}