
{% extends "/components/layouts/standard.html" %}

{% macro Title %}My Task{% end %}

{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Content %}
    <!-- Main App Container -->
    <div class="app-container">
        <!-- Login Error Alert -->
        {% if task_error  %}
        <div class="mb-3">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ task_error.Error() }}</strong>.
            </div>
        </div>
        {% end  %}


        {% if task %}
        <div class="row">
            <div class="col-6 text-left">
                <h1 style="text-align: left;">My Tasks</h1>
            </div>
            <div class="col-6" style="text-align: right;">
                <a class="btn btn-outline-primary" href="{{ url("todos", task.ID) }}">
                    <i class="fa-solid fa-backward me-2"></i> To Task
                </a>
            </div>
        </div>
        
        <!-- To-Do Form -->
        <form id="todo-form" method="post" action="{{ url("todos", task.ID) }}">
            <!-- Method Input -->
            <input name="__METHOD__" value="PATCH" hidden>

            <!-- Title Input -->
            <div class="mb-3">
                <label for="todo-title" class="form-label">Task Title</label>
                <input name="title"
                       type="text"
                       class="form-control {% if has(`title`) %}is-invalid{% end %}"
                       id="todo-title"
                       placeholder="e.g., Buy groceries"
                       value="{{ task.Title }}">
                <div class="invalid-feedback"> {{ error("title") }}</div>
            </div>
            
            <!-- Description Input -->
            <div class="mb-3">
                <label for="todo-description" class="form-label">Description</label>
                <textarea name="description"
                          class="form-control {% if has(`description`) %}is-invalid{% end %}"
                          id="todo-description"
                          rows="3"
                          placeholder="e.g., Milk, bread, eggs...">{{ task.Description }}</textarea>
                <div class="invalid-feedback"> {{ error("description") }}</div>
            </div>

            <!-- Create Button -->
            <button type="submit" class="btn btn-primary">Update Task</button>

        </form>
        {% end %}
        
    </div>
{% end %}

{% macro Footer %}
    {{ render "/components/footer.html" }}
{% end %}