{% extends "/components/layouts/standard.html" %}

{% macro Title %}Your Tasks Manager{% end %}

{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Content %}
    <!-- Main App Container -->
    <div class="app-container">
        <h1>My Tasks</h1>

        <ul id="todo-list">
            <!-- To-do items will be dynamically inserted here by JavaScript -->
            <li class="todo-item completed">
                <div class="todo-content">
                    <h5>Design the new website</h5>
                    <p>Create mockups in Figma for the new homepage.</p>
                </div>
                <div class="todo-actions">
                    <button class="btn btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
{% end %}

{% macro Footer %}
    {{ render "/components/footer.html" }}
{% end %}