{% extends "/components/layouts/standard.html" %}

{% macro Title %}Task{% end %}

{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Content %}

    {% if task %}
    <!-- Main App Container -->
    <div class="app-container">

        <!-- Task Header -->
        <div class="task-header d-flex justify-content-end align-items-center pb-3 border-bottom">
            {% if task.Complete %}
            <span class="badge bg-success text-white">Complete</span>
            {% else %}
            <span class="badge bg-warning text-dark">In Progress</span>
            {% end %}
        </div>

        <!-- Task Body -->
        <div class="task-body">
            <p class="lead">{{ task.Title }}</p>
            <p>{{ task.Description }}</p>
        </div>
        
        <!-- Task Metadata -->
        <div class="task-meta bg-light p-3 rounded">
            <p><strong><i class="fas fa-calendar-plus me-2"></i>Created:</strong> June 10, 2024</p>
            <p class="mb-0"><strong><i class="fas fa-calendar-times me-2"></i>Due Date:</strong> June 25, 2024</p>
        </div>
        
        <!-- Task Actions -->
        <div class="row task-actions border-top pt-4 mt-4 ">
            <div class="col-6">
                <a class="btn btn-outline-secondary me-2 mt-2" href="{{ url("todos") }}">
                    <i class="fas fa-arrow-left me-1"></i> Back to List
                </a>
                <a class="btn btn-outline-secondary me-2 mt-2" href="{{ url("todos") }}">
                    <i class="fas fa-trash me-1"></i> Delete
                </a>
            </div>

            <div class="col-6 text-end">
                <a class="btn btn-outline-primary me-2 mt-2" href="{{ url("todos", task.ID, "edit") }}">
                    <i class="fas fa-pencil-alt me-1"></i> Edit
                </a>

                {% if task.Complete %}
                <form method="post" action="{{ url("todos", task.ID, "complete") }}">
                    <input name="__METHOD__" value="DELETE" hidden>
                    <button class="btn btn-warning me-2 mt-2">
                        <i class="fas fa-check me-1"></i> Mark as Uncompleted
                    </button>
                </form>
                {% else %}
                <form method="post" action="{{ url("todos", task.ID, "complete") }}">
                    <button class="btn btn-success me-2 mt-2">
                        <i class="fas fa-check me-1"></i> Mark as Completed
                    </button>
                </form>
                {% end %}

            </div>
        </div>

    </div>
    {% end %}
{% end %}

{% macro Footer %}
    {{ render "/components/footer.html" }}
{% end %}